<h1>BIENVENIDO A LA API DE "RICK AND MORTY"</h1>
<h2>Escoge una de las opciones...  </h2>
<h3>Los botones aun no estan en funcionamiento, pero puedes navegar desde la barra de direcciones
    añadiendo "/" y el nombre de la ruta
</h3>

<div class="example-button-row">
    <button routerLink = "personajes" mat-stroked-button>PERSONAJES</button>
    <br>
    <button mat-stroked-button color="capitulos">CAPITULOS</button>
    <br>
    <button mat-stroked-button color="ubicaciones">UBICACIONES</button>
    <br>
</div>

